{% extends "members/base.html" %}
{% block content %}
    <form action="{% url 'schedule-tennis' %}" method="GET" style="margin-bottom: 20px;">
        <span><input type="date" name="searchDate" value="{{ searchDate }}"></span>
        <button class="btn btn-info" value="Search" >Search Date</button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Court 1</th>
                <th>Court 2</th>
                <th>Court 3</th>
                <th>Court 4</th>
            </tr>
        </thead>
        <tbody>
        {% for courtTime, courtPl in bookingDict.items %}
                <tr>
                    <td>{{ courtTime }}</td>
                    <td>
                        <a href="#">
                            {{ courtPl.1.1 }}
                            {% for players in courtPl.1.0 %}
                                {% for pl in players %}
                                    {{ pl }}
                                    <br>
                                {% endfor %}
                            {% endfor %}
                        </a>
                    </td>

                    <td> {{ courtPl.2.1 }}
                    {% for players in courtPl.2.0 %}
                        {% for pl in players %}
                            {{ pl }}
                            <br>
                        {% endfor %}
                    {% endfor %}
                    </td>

                    <td> {{ courtPl.3.1 }}
                    {% for players in courtPl.3.0 %}
                        {% for pl in players %}
                            {{ pl }}
                            <br>
                        {% endfor %}
                    {% endfor %}
                    </td>

                    <td> {{ courtPl.4.1 }}
                    {% for players in courtPl.4.0 %}
                        {% for pl in players %}
                            {{ pl }}
                            <br>
                        {% endfor %}
                    {% endfor %}
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{{ bookingDict}}
{% endblock content %}