{% extends "members/base.html" %}
{% block content %}
    {% for booking in bookings %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ booking.sport }}</a>
              <small class="text-muted">{{ booking.courtDate|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ booking.courtPlay }}</a></h2>
            {% for player in booking.player1.all %}
              <p class="article-content">{{ player }}</p>
            {% endfor %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}