{% extends "members/base.html" %}
{% block content %}
    <form action="{% url 'schedule-tennis' %}" method="GET" style="margin-bottom: 20px;">
        <span><input type="date" name="searchDate" value="{{ searchDate }}"></span>
        <button class="btn btn-info" value="Search" >Search Date</button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Court 1</th>
                <th>Court 2</th>
                <th>Court 3</th>
                <th>Court 4</th>
            </tr>
        </thead>
        <tbody>
        {% for courtTime, bD in bookingDict.items %}
            {% for id, courtNum in bD.items %}
                {{ id }}
                <tr>
                    <td>{{ courtTime }}</td>
                    <td>
                    {% for players in courtNum.1 %}
                        {% for pl in players.all %}
                            {{ pl }}
                            <br>
                        {% endfor %}
                    {% endfor %}
                    </td>

                    <td>
                    {% for players in courtNum.2 %}
                        {% for pl in players %}
                            {{ pl }}
                            <br>
                        {% endfor %}
                    {% endfor %}
                    </td>

                    <td>
                    {% for players in courtNum.3 %}
                        {% for pl in players %}
                            {{ pl }}
                            <br>
                        {% endfor %}
                    {% endfor %}
                    </td>

                    <td>
                    {% for players in courtNum.4 %}
                        {% for pl in players %}
                            {{ pl }}
                            <br>
                        {% endfor %}
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{{ bookingDict }}
{% endblock content %}